body {
    margin: 0;
    padding: 0;
    height: 100%
  }
.containerdiemme {
    display: flex;
    justify-content: space-between;
}
.insiemediemme{
    width: 50%;
    height: 50% ;    

}
ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    padding-right: 7%;
}
li{
    list-style-type: none;

}
nav{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    align-items: center;
    background-color: #FFC017;
top:0 ;
position: fixed;
width: 100%;
z-index: 1000;
}

.bottonesuperiore{
    background-color: black;
    border-radius: 50px;
    width: 30%;
    height:12%;
    font-size: medium;
    padding: 2% 0;
}
.bottonesuperiore p{
    font-size: 10000px;
}
hr{
    color: black
    
}
button{
color:white;
border-radius: 30px;
width: 35%;
height: 12%;
background-color: rgb(24, 24, 24);
font-size: 1.5em;


}
header{
    background-color: #FFC017;
}
.logo{
    padding-left: 6%;
}
.curious{
padding-left: 6%;
margin-top: -4%;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6.7em;
    font-weight: 100;
}

.cur{
    margin-bottom: -9%;

}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: rgb(24, 24, 24);
    font-weight: 100;
    padding-right: 20%;
}
header{
    border: 1px solid black
}
.trending{
    display:flex;
    justify-content: space-around;
    padding-bottom: 5%;
}
.blocchi {
    display: flex;
    width: 33%;
    justify-content: center;
}
.description{
    display: block;
}
.description img{
    border-radius: 50px;
}
.minidescription{
    display: flex;
    align-items: center;
    margin-bottom: -10%;
    
}
.minidescription img{
margin-right: 9%;
}
.blocchi{
    font-family: Arial, Helvetica, sans-serif;
}
h5{
    font-size: 1em;
}
.fecha , .numero{
    color:grey
}
.numero {
    font-size: 2em;
    padding-right: 5%;
}
.trendingonmedium{
    margin-top: 5%;
    margin-left: 7%;   
    margin-bottom: 2%;
     display: flex;

}
.trendingonmedium img{
    width: 3%;
}
main{
    padding: 0 5% 
}
text{
    margin-bottom: -10%;
}




.secondaparte{
    display:flex;
    margin-top: 5%;
    position: relative;
    height: 100%;
    width: 100%;
    
   
}
.articoli{
    width: 60%;
    display: block;
    align-items: center;

}
.news{
    width: 40%;
    position: sticky;
    
    top: 0;
    right: 0;
    display: block;
}
.articolo1{
    display: flex;
}
.tesssto{
    display: block;
    padding-right: 10%;
}
.articolo1 img {
    width: 40%;
}
.fecha img{
    width: 5%;
}
.fecha{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.robertx img{
    width: 10%;
   
    border-radius: 20px;

}
.robertx{
    display:flex
}
h4{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.tesssto p {
    color: grey;
}
h5{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.news button{
    background-color: white;
    color :grey;
    width: 25%;
    font-size: smaller;
    border:1px solid grey ;
    padding-bottom: 2%;
    border-radius: 5px;
}
.multiplebuttons{
text-align: center;
padding-bottom: 5%;
}
.spn{
    display: flex;
    padding: 0 10%;
    
}
.spn button{
    border-width: 0px;
  padding-top: 5%;
}
.articolo1{
    padding-bottom: 10%;
}
